.blog_item {
    /* size */
    width: 100%;
    /* spacing and size adjustments */
    margin-top: 10px;
    /* display */
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.blog-link {
    /* outline */
    text-decoration: none;
}

.blog_item:hover {
    /* shadow */
    box-shadow: 1px 1px 1px 0.5px rgb(75, 158, 131);
    /* spacing and size adjustments */
    padding-bottom: 3px;
    padding-left: 2px;
}

.blog_item h2 {
    /* font */
    font-size: 10px;
    /* color */
    color: rgb(75, 158, 131);
    /* spacing */
    margin: 3px;
}

.blog_item h4 {
    /* fonts */
    font-size: 10px;
    /* color */
    color: rgb(75, 158, 131);
    /* spacing */
    margin: 3px;
}

.blog_item p {
    /* font */
    font-size: 10px;
    /* color */
    color: rgb(75, 158, 131);
    /* spacing */
    margin: 3px;
}